<h1>hello world</h1>

{% comment %} JSON //----------------------------------------------------------------------------------------------------------------- {% endcomment %}

{% render "app_snippet" %}
{% schema %}
  {
    "name": "Custom Grid",
    "class": "section",
    "settings": [
      {
        "label": "Color",
        "id": "color",
        "type": "color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}